.App {
  display: flex;
  justify-content: center;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 1400px;
}

table, td, th {
  border: 0.5px solid gray;
}

td, th {
  padding: 5px;
  font-size: 14px;
}

td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4),
th:nth-child(1), th:nth-child(2), th:nth-child(3), th:nth-child(4) {
  width: 125px;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7),
th:nth-child(5), th:nth-child(6), th:nth-child(7) {
  width: 300px;
}